@page
@model TodoApp.Pages.News.DetailsModel
@{
    ViewData["Title"] = Model.Article?.Title ?? "Haber Detayı";
}

@if(Model.Article is null)
{
    <div class="alert alert-warning">Haber bulunamadı!</div>
}
else
{
    <article>
        <header class="mb-3">
            <h1>@Model.Article.Title</h1>
            <div class="text-muted">
                <span>@Model.Article.AuthorName</span>
                @if(Model.Article.PublishedAt is not null)
                {
                    <span> @Model.Article.PublishedAt?.ToString("yyyy-MM-dd HH:mmm")</span>
                }
            </div>
        </header>
        <section class="mb-4" >
            @if(!string.IsNullOrEmpty(Model.Article.Summary))
            {
                <p class="lead">@Model.Article.Summary</p>
            }
            <div>
                @Html.Raw(Model.Article.Content)
            </div>
        </section>
        <a asp-page="/News/Index" class="btn btn-secondary">Geri</a>
    </article>
}
